<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Application Details</h1>
    <form method="post">
        {% csrf_token %}
        <label for="{{ form.status.id_for_label }}">Status:</label>
        {{ form.status }}
        <br>
    
        <label for="{{ form.company_name.id_for_label }}">Company Name:</label>
        {{ form.company_name }}
        <br>
    
        <label for="{{ form.role.id_for_label }}">Role:</label>
        {{ form.role }}
        <br>
    
        <label for="{{ form.date_applied.id_for_label }}">Date Applied:</label>
        {{ form.date_applied }}
        <br>

    
        <label for="{{ form.description.id_for_label }}">Description:</label>
        {{ form.description }}
        <br>
    
        
    
        <button type="submit">Submit</button>
        <button type="button" name="cancel">Cancel</button>
    </form>
</body>
</html>