.status-section-grid {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px; /* Adjust as needed */
  }
  
  .status-column {
    display: flex;
    padding: 12px 8px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 8px;
    background: var(--Iron-25);
  }
  