
.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    margin-bottom: 40px;
}

.button-group {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.status-section-container{
    display: flex;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;
    align-self: stretch;
}

