@import 'style.css';

body {
    background-color: var(--Magnolia-50);
    margin: 0px;

    font-family: 'Manrope';
    font-weight: 400;
}

/* global page styling */
.top-nav-container {
    position: fixed;
    width: 100vw;
    padding: 18px 24px;
    box-sizing: border-box;
}

/* .global-layout {
    position: fixed;
    top: 72px;
    width: 100vw;
    height: calc(100vh - 64px);
    display: grid;
    grid-template-columns: 288px auto;
    box-sizing: border-box;
} */

.leftsidebar-container {
    position: fixed;
    top: 72px;
    left: 0px;
    width: 288px;
    display: flex;
    height: calc(100vh - 72px);
    padding: 24px;
    box-sizing: border-box;
}

.page {
    position: fixed;
    top: 72px;
    left: 288px;
    width: calc(100vw - 288px);
    height: calc(100vh - 72px);
    display: flex;
    border: 1px solid var(--Iron-50);
    flex-direction: column;
    box-sizing: border-box;
    padding: 0px 24px 24px 0px;
    /* background-color: purple; */
}

.content-container {
    display: flex;
    background-color: var(--White);
    border-radius: 16px;
    border: 1px solid var(--Iron-50);
    padding: 24px;
    flex: 1 0 0;
    align-self: stretch;
    overflow: hidden;
    flex-direction: column;
}

/* .page-content-container {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    align-self: stretch;
} */

