
.form-page-container {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: var(--White);
    border-radius: 16px;
    border: 1px solid var(--Iron-50);
    box-sizing: border-box;
    overflow: hidden;
    /* flex: 1 0 0;
    align-self: stretch; */
    /* overflow: hidden; */
    /* flex-direction: column; */
}

.form-container {
    width: 100%;
    height: 100%;
    box-sizing: border-box
    /* display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0; */
}

.form-header-section > .dropdown {
    width: 196px;
}

div.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* align-content: flex-start; */
    gap: 40px;
    padding: 32px;
    height: calc(100% - 160px);
}

.form-group {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.form-group > div.left-section {
    grid-column: 1 / span 8;

}

.right-section > .dropdown {
    width: 50%;
}

.form-group > div.left-section > .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.form-group > div.right-section {
    grid-column: 9 / span 4;
    padding-top: 18px;
    height: 100%;
}

.right-section > .page-comments-section {
    margin-top: 16px;
    padding: 24px 16px 8px 16px;
    border: 1px solid var(--Iron-100);
    border-radius: 8px;
    min-height: 160px;
    max-height: 100%;
    box-sizing: border-box;
}

.btm-button-container {
    display: flex;
    height: 96px;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 16px;
    align-self: stretch;
    padding: 24px 24px;
    border-top: 1px solid var(--Iron-200);
    box-sizing: border-box;
}
